<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JBG klarspråkning</title>
    <link rel="shortcut icon" href="#" />
    <script src="/static/javascript/script.js" defer></script>  <!-- External JavaScript -->
    <link rel="stylesheet" href="/static/styles/styles.css">  <!-- External CSS -->
</head>
<body>
    <div id="wrapper">
        <h1>JBG klarspråkning</h1>
        <h3><em>Obs! Endast .docx- eller pdf-filer</em></h3>
        <form id="uploadForm">
            <input type="file" id="documentFile" name="file" accept=".pdf,.docx" required>
                <button type="submit">Klarspråka!</button>
        </form>
        <p id="status"></p>

        <!-- A spinner that spins while executing -->
        <div id="spinner-container">
            <div class="spinner"></div>
        </div>
    </div> <!-- Wrapper -->

</body>
</html>